Source: lsyncd
Section: net
Priority: extra
Maintainer: Axel Kittenberger <axel77@gmail.com>
Build-Depends: debhelper (>= 7), autotools-dev, libxml2-dev
Standards-Version: 3.7.3
Homepage: http://code.goole.com/p/lsyncd

Package: lsyncd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} libxml2, rsync
Description: syncronizes files live on change to a remote machine
 Lsyncd uses rsync to synchronize local directories with a remote
 machine running rsyncd. It watches multiple directories trees
 through inotify. The first step after adding the watches is to
 rsync all directories with the remote host, and then sync single
 file by collecting the inotify events. So lsyncd is a light-weight
 live mirror solution.
